<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Aca mostramos las donaciones de cada usuario
    <ul>
      <% for (let i = 0; i < data.length; i++) { %>
        <li>
          <% if (data[i].name) { %>
            Nombre: <%= data[i].name %>
          <% } %>
          <% if (data[i].email) { %>
            Correo electrónico: <%= data[i].email %>
          <% } %>
          <ul>
            <% for (let j = 0; j < data[i].projects.length; j++) { %>
              <li>
                <% if (data[i].projects[j]) { %>
                  Proyecto: <%= data[i].projects[j].name %>
                <% } %>
              </li>
            <% } %>
          </ul>
        </li>
      <% } %>
    </ul>
    Aca mostramos los donantes de cada proyecto
    <ul>
      <% for (let i = 0; i < projects.length; i++) { %>
        <li>
          Proyecto: <%= projects[i].name %>
          <ul>
            <% for (let j = 0; j < projects[i].users.length; j++) { %>
              <li>Usuario: <%= projects[i].users[j].name %></li>
            <% } %>
          </ul>
        </li>
      <% } %>
    </ul>

      <a href="/database/agregarData">Agregar Usuario a la base de datos</a> <br>
      <a href="/database/agregarProyecto">Agregar Proyecto a la base de datos</a> <br>
      
    </body>
</html>